<html>
<head>
  <title>Parqueos disponibles</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      function updateParkingInfo() {
        $.ajax({
          url: '/parking_info/', 
          type: 'GET',
          dataType: 'json',
          success: function(data) {
            console.log(data);
            if (data.error) {
              $('#error').text(data.error);
            } else {
              $('#total_spaces').text(data.total_spaces);
              $('#available_spaces').text(data.available_spaces);
              $('#updated_at').text(new Date(data.updated_at).toLocaleString());
            }
          },
          error: function(xhr, status, error) {
            $('#error').text('Error: ' + error);
          }
        });
      }

      updateParkingInfo();
      setInterval(updateParkingInfo, 5000); 
    });
  </script>
</head>
<body>
  <div id="error"></div>
  <div>Total Spaces: <span id="total_spaces"></span></div>
  <div>Available Spaces: <span id="available_spaces"></span></div>
  <div>Last Updated: <span id="updated_at"></span></div>
</body>
</html>